<div id="navBar">
    <a routerLink="/character"><ng-icon name="tablerUser" /> Character</a>
    <a routerLink="/skills"><ng-icon name="tablerBook" /> Skills</a>
    <a routerLink="/quests"><ng-icon name="tablerList" /> Quests</a>
    <a routerLink="/gears"> <ng-icon name="tablerShield" /> Gears</a>
    <a routerLink="/settings"> <ng-icon name="tablerSettings" /> Settings</a>
    <span id="download" (click)="jsonService.pushToGithub()"><ng-icon name="tablerFile" /> Update Portfolio</span>
</div>
