
<form>
    <button type="button" (click)="addForm()">Add Skill</button>
   @for (item of skillForm.controls; track $index) {
     <div class="field-group" [formGroup]="getSkillGroup($index)">
        <div class="group-toggler" (click)="toggleSkillSection($index)">Skill {{ $index + 1 }}</div>
        @if (skillOpen[$index]) {
        <div class="field">
        <label for="skillName">
            Name: 
        </label>
        <input id="skillName" formControlName="name">
        </div>
        <div class="field">
        <label for="skillRate">
            Rate: 
        </label>
        <select id="skillRate" formControlName="rate">
            @for (rate of rateSkills; track $index) {
                <option [value]="rate.value">{{ rate.name }}</option>
            }
        </select>
        </div>
        <button type="button" (click)="removeForm($index)">Remove Skill</button>
    }
     </div>
   }
   <br>
  <button type="button" (click)="onSubmit()">Save Skills</button>
</form>