<h1>Miscellaneous settings</h1>
<div id="form-container">
<form>
  <div class="sticky-button sticky-background">
<button type="button" (click)="addNewTag()">Add Tag</button>
</div>
@for (tag of tagForm.controls; track $index; let tagIndex = $index) {
    <div class="field-group">
      <div class="group-toggler" (click)="toggleNewTagSection($index)">Tag {{ tagIndex + 1 }}</div>
        @if (newTagsOpen[tagIndex]) {
    <div class="field">
  <label for="tagName">
    Name :
  </label>
  <input id="tagName" [formControl]="getNewTagControl(tagIndex)" />
  </div>
   <button type="button" (click)="removeNewTag(tagIndex)">Remove Tag</button>
}
  </div>
}
  @if (tagForm.controls.length > 0) {
    <button type="button" (click)="onSubmitTag()">Save Tags</button>
  }
</form>

<form>
  <div class="sticky-button sticky-background">
<button type="button" (click)="addNewTheme()">Add Theme</button>
</div>
@for (theme of themeForm.controls; track $index; let themeIndex = $index) {
    <div class="field-group">
            <div class="group-toggler" (click)="toggleNewThemeSection($index)">Theme {{ themeIndex + 1 }}</div>
        @if (newThemesOpen[themeIndex]) {
    <div class="field">
  <label for="themeName">
    Name :
  </label>
  <input id="themeName" [formControl]="getNewThemeControl(themeIndex)" />
  </div>
  @for (tagVar of getThemeVariableKeys(); track $index; let themeVarIndex = $index) {
  <div class="field">
      <label>
        {{ tagVar }}
      </label>
      <input type="color" [formControl]="getThemeVariableControl(themeIndex, tagVar)" />
  </div>
    }
   <button type="button" (click)="removeNewTheme(themeIndex)">Remove Theme</button>
  }
  </div>
}
  @if (themeForm.controls.length > 0) {
    <button type="button" (click)="onSubmitTheme()">Save Themes</button>
  }
</form>
</div>
