<h1>Gears settings</h1>
<form>
    <div class="sticky-button sticky-background">
        <button type="button" (click)="addForm()">Add Gear</button>
    </div>
   @for (item of gearForm.controls; track $index) {
     <div class="field-group" [formGroup]="getGearGroup($index)">
        <div class="group-toggler" (click)="toggleGearSection($index)">Gear {{ $index + 1 }}</div>
        @if (gearOpen[$index]) {
        <div class="field">
        <label for="gearName">
            Name: 
        </label>
        <input id="gearName" formControlName="name">
        </div>
        <div class="field">
        <label>
            Logo: 
        </label>
          <div class="">
    <div class="picture-slot">
  @if (previewUrls()[$index]) {
    <img class="" [src]="previewUrls()[$index]" alt="preview" />
  } @else if (dataService.gears()[$index].logo) {
    <img class="" [src]="dataService.gears()[$index].logo" alt="current gear" />
  }
  </div>
  </div>
  <input  type="file" #fileInput accept="image/*" (change)="onFileSelected($event, $index)" style="display:none" />
  <button type="button" (click)="fileInput.click()">Changer l'image</button>
        </div>
        <div class="field">
        <label for="gearRarety">
            Rarety: 
        </label>
        <select id="gearRarety" formControlName="rarety">
            @for (rarety of gearRarety; track $index) {
                <option [value]="rarety">{{ rarety }}</option>
            }
        </select>
        </div>
        <div class="field">
        <label for="gearDescription">
            Description: 
        </label>
        <textarea id="gearDescription" formControlName="description" cols="40" rows="10"></textarea>
        </div>
        <div class="field">
        <label for="gearSlot">
            Slot: 
        </label>
        <input type="number" id="gearSlot" formControlName="slot">
        </div>
        <div class="field">
        <label for="gearWidth">
            Width: 
        </label>
        <input type="number" id="gearWidth" formControlName="width">
        </div>
        <div class="field">
        <label for="gearHeight">
            Height: 
        </label>
        <input type="number" id="gearHeight" formControlName="height">
        </div>
        <button type="button" (click)="removeForm($index)">Remove Gear</button>
    }
     </div>
   }
   <br>
   @if (gearForm.controls.length > 0) {
    <button type="button" (click)="onSubmit()">Save Gears</button>
   }
</form>
