<form (ngSubmit)="onSubmit()">
    <button type="button" (click)="addForm()">Add Gear</button>
   @for (item of gearForm.controls; track $index) {
     <div class="field-group" [formGroup]="getGearGroup($index)">
        <div class="field">
        <label for="gearName">
            Name: 
        </label>
        <input id="gearName" formControlName="name">
        </div>
        <div class="field">
        <label for="gearLogo">
            Logo: 
        </label>
        <input id="gearLogo" formControlName="logo">
        </div>
        <div class="field">
        <label for="gearRarety">
            Rarety: 
        </label>
        <select id="gearRarety" formControlName="rarety">
            @for (rarety of gearRarety; track $index) {
                <option [value]="rarety">{{ rarety }}</option>
            }
        </select>
        </div>
        <div class="field">
        <label for="gearDescription">
            Description: 
        </label>
        <input id="gearDescription" formControlName="description">
        </div>
        <div class="field">
        <label for="gearSlot">
            Slot: 
        </label>
        <input id="gearSlot" formControlName="slot">
        </div>
        <div class="field">
        <label for="gearWidth">
            Width: 
        </label>
        <input id="gearWidth" formControlName="width">
        </div>
        <div class="field">
        <label for="gearHeight">
            Height: 
        </label>
        <input id="gearHeight" formControlName="height">
        </div>
        <button type="button" (click)="removeForm($index)">Remove Gear</button>
     </div>
   }
   <br>
  <button type="submit">Save Gears</button>
</form>
