.data-container {
    color:white;
    width:40rem;
}

.update, .commit { 
    display:flex;
    justify-content: space-between;
    gap:5rem;
    padding:0 0.5rem;
}

.commit:hover {
    background-color:#616161 ;
}

.container {
    border:0.2rem solid #303030;
    background-color: #7a7a7a;
    padding:0.5rem;
    color: rgb(221, 221, 221);
    margin:2rem 0;
}

.container:hover  {
    border-color: rgb(0, 160, 0);
    box-shadow: 0 0 8px #00ff00;
    color: #00ff00;  
}

.container-title {
    font-weight: bold;
    font-size: 1rem;
}

.status-led {
width: 0.5rem;
  height: 0.5rem;
  border-radius: 50rem;
  box-shadow: 0 0 8px #00ff00;
  display: inline-block;
  background-color: #00ff00;
  vertical-align: center;
  animation: pulse 1.5s infinite;
  margin-left: 0.5rem;
}

@keyframes pulse {
  0%, 100% { box-shadow: 0 0 4px #00ff00; }
  50% { box-shadow: 0 0 12px #00ff00; }
}