<h1>QuestMaker</h1>
<h2>Portfolio RPG Dashboard</h2>
<div class="data-container">
    <div class="status container">
        <p class="container-title">Status</p>
        <p><span class="status-led"></span>
        @if (isOnline) {
            Online
        }
        @else {
            Offline
        }
        </p>
    </div>
    <div class="container">
        <p class="container-title">Last Release</p>
        <div class="update">
            <p>{{ release.tag_name }}</p>
            <p>{{ release.published_at | date: 'dd/MM/yyyy - HH:mm' }}</p>
        </div>
    </div>
    <div class="container">
        <p class="container-title">Last Commits</p>
    <div class="commits">
        @for (commit of commits; track $index) {
            <div class="commit">
                <p>{{ commit.commit.message }}</p>
                <p>{{ commit.commit.author.date | date: 'dd/MM/yyyy - HH:mm' }}</p>
            </div>
        }
    </div>
    </div>
</div>
